<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.todoapi.mapper.CategoryMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into categories (user_id, name, color, icon, created_at)
        values (#{userId}, #{name}, #{color}, #{icon}, now())
    </insert>

    <select id="selectByUserId" resultType="com.korit.todoapi.entity.Category">
        select
            *
        from
            categories
        where
            user_id = #{userId}
        order by
            created_at asc;
    </select>

    <select id="selectByUsername" resultType="com.korit.todoapi.entity.Category">
        select
            *
        from
            categories
        where
            name = #{categoryName}
        order by
            created_at asc;
    </select>

    <select id="selectById" resultType="com.korit.todoapi.entity.Category">
        select
            *
        from
            categories
        where
            id = #{id}
        order by
            created_at asc;
    </select>

    <update id="update">
        update categories
        set name = #{name}, color = #{color}, icon = #{icon}, created_at = now()
        where id = #{id} and user_id = #{userId};

    </update>

    <delete id="delete">
        delete
        from
            categories
        where
            id = #{id};
    </delete>

    <select id="countNotCompletedByUserId" resultType="com.korit.todoapi.entity.CategoryCompletionCount">
        select
            ctgr.id,
            count(*) as total_count,
            count(if(todos.is_completed = 0, 1, null)) as not_completed_count
        from
            categories ctgr
            left join todos on todos.category_id = ctgr.id
        where
            ctgr.user_id = #{userId}
        group by
            ctgr.id
        order by
            ctgr.id;
    </select>
</mapper>